# GD Account Credentials
GD_USERNAME=bot_username
GD_PASSWORD=bot_password

# Configuration
LEVEL_ID=level_created_from_the_bots_account

# Owner Settings
OWNER_USERNAME=your_username
OWNER_PLAYER_ID=your_player_id